/* Home *******************************************************/
$home_title_and_subtitle_color: rgba(255, 255, 255, 0.85);
$home_image_top_overlay_color: rgba(0, 0, 0, 0.6);

/* Common *****************************************************/
$main_title_color: rgba(0, 0, 0, 0.25);
$main_description_color: #ddd;
$subpages_bg_color: #252d3a;
$subpages_box_shadow: 0 1px 36px rgba(0, 0, 0, 0.15);
$content_group_title_color: #878D99;
$content_group_title_bg_color: #3b424e;
$button_border_color: #eee;
$button_text_color: #eee;
$button_hover_text_color: #fff;
$popup_close_color: #fff;
$popup_content_text_color: #ddd;
$popup_content_category_color: #888;
$popup_content_bg_color: #252d3a;
$mobile_header_bg_color: #1c222b;
$mobile_header_togglebtn_bg_color: #3b424e;
$mobile_header_togglebtn_text_color: #eee;
$mobile_header_links_area_bg_color: #3b424e;
$header_bg_color: #1c222b;
$header_border_color: #3b424e;
$header_logo_link_color: #eee;
$header_logo_after_bg_color: #3b424e;
$header_item_link_color: #fff;
$header_item_hover_and_active_bg_color: #3b424e;
$header_item_icon_color: #878D99;
$header_item_tooltip_bg_color: #222;
$header_item_tooltip_text_color: #878D99;
$header_item_expanded_text_color: #878D99;
$header_item_expanded_bg_color: transparent;
$loading_bg_color: #252d3a;
$loading_bounce_color: #eee;

/* About ****************************************************/
$about_services_title_color: #eee;
$about_services_description_color: #828890;
$about_funfacts_bg_color: #191f29;
$about_funfacts_text_color: #ddd;
$about_testimonial_text_color: #828890;
$about_testimonial_name_text_color: #eee;
$about_owlcarouseldots_bg_color: #d0d0d0;
$about_pricing_title_color: #828890;
$about_pricing_amount_color: #eee;
$about_pricing_list_item_color: #eee;
$about_pricing_list_item_disabled_color: #777;
$about_clients_icon_color: #ccc;
$about_clients_icon_hover_color: #fff;

/* Blog *****************************************************/
$blog_item_bg_color: #1a1f29;
$blog_item_title_text: #ddd;
$blog_item_category_text: #999;
$blog_item_overlay_icon_color: #fff;
$blog_date_bg_color: #eee;
$blog_date_color: #444;

/* Contact *************************************************/
$contact_text_color: #eee;
$contact_forminput_icon_color: #aaa;
$contact_forminput_bg_color: #1a1f29;
$contact_forminput_border_color: #3b424e;

/* Portfolio **********************************************/
$portfolio_filter_text_color: #d0d0d0;
$portfolio_item_bg_color: #1a1f29;
$portfolio_item_title_text: #ddd;
$portfolio_item_category_text: #999;
$portfolio_item_overlay_icon_color: #fff;

/* Resume *************************************************/
$resume_skills_label_color: #eee;
$resume_skills_progress_bg_color: #3b424e;
$resume_education_experience_title_color: #eee;
$resume_education_experience_timing_color: #71757b;
$resume_education_experience_description_color: #828890;
