#about {
    .main-container {
        .button-groups {
            margin-top: 50px;
            text-align: center;

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    display: inline-block;
                    margin: 0 5px;

                    span {
                        padding: 0 24px;
                        position: relative;
                        top: -4px;

                        .la {
                            position: relative;
                            top: 4px;
                        }
                    }

                    a {
                        font-weight: bold;
                        text-decoration: none;
                        height: 45px;
                        min-width: 45px;
                        line-height: 52px;
                        text-align: center;
                        display: inline-block;
                        @include border-radius(50px);
                        @include transition(.5s);

                        &:hover {
                            border-color: transparent;
                        }

                        .la {
                            font-size: 26px;
                        }
                    }
                }
            }
        }

        .content-group {

            .service-container {
                .card {
                    border: none;
                    margin-top: 25px;

                    .card-body {
                        padding: 0;

                        .icon-area {
                            margin-bottom: 10px;

                            .la {
                                font-size: 40px;
                            }
                        }

                        .name {
                            font-weight: 600;
                        }

                        .description {
                            text-align: justify;
                            font-size: 13px;
                        }
                    }
                }
            }

            .pricing-container {
                .card {
                    margin-top: 25px;
                    border: none;

                    .card-header {
                        padding: 0;
                        text-align: center;
                        background-color: transparent;
                        border: none;

                        .icon-area {
                            .la {
                                font-size: 48px;
                            }
                        }

                        .title {
                            border: none;
                            background-color: transparent;
                            font-weight: 600;
                            font-size: 16px;
                            padding: 7px 0 0 0;
                        }

                        .amount {
                            .currency {
                                font-size: 18px;
                                position: relative;
                                font-weight: 500;
                                top: -15px;
                            }

                            .number {
                                font-size: 36px;
                                font-weight: bold;
                                margin: 0 3px;
                            }

                            .timing {
                                font-size: 15px;
                                position: relative;
                                font-weight: 500;
                                bottom: 3px;
                            }
                        }
                    }

                    .card-body {
                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            text-align: center;

                            li {
                                line-height: 28px;
                                font-size: 15px;

                                &.disable {
                                    text-decoration: line-through;
                                }
                            }
                        }
                    }

                    .card-footer {
                        background-color: transparent;
                        border: none;
                        text-align: center;

                        a {
                            font-weight: bold;
                            text-decoration: none;
                            padding: 8px;
                            min-width: 200px;
                            text-align: center;
                            display: inline-block;
                            @include border-radius(50px);
                            @include transition(.5s);

                            &:hover {
                                border-color: transparent;
                            }
                        }
                    }
                }
            }

            .fun-facts-container {
                .card {
                    border: none;
                    margin-top: 25px;
                    @include border-radius(0);

                    .card-body {
                        .icon-area {
                            margin-bottom: 5px;

                            .la {
                                font-size: 42px;
                            }
                        }

                        .text {
                            font-size: 14px;

                            b {
                                display: block;
                                font-size: 26px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }

            .clients-container {
                margin-top: 25px;
                margin-bottom: -25px;

                .col {
                    text-align: center;

                    a {
                        font-size: 92px;
                        opacity: 0.45;
                        text-decoration: none;
                        @include transition(.5s);

                        img {
                            height: 96px;
                        }

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            .testimonials-container {
                margin-top: 25px;

                .card {
                    border: none;

                    .card-header {
                        background: transparent;
                        text-align: center;
                        border: none;

                        img {
                            width: 82px;
                            margin: 0 auto;
                            @include border-radius(50%);
                        }
                    }

                    .card-body {
                        p {
                            font-size: 15px;
                            text-align: center;
                            margin-bottom: 0;
                        }
                    }

                    .card-footer {
                        padding: 0;
                        text-align: center;
                        border: none;
                        background: transparent;

                        .name {
                            font-weight: bold;
                            font-size: 18px;
                        }

                        .title {
                            border: none;
                            background: transparent;
                            font-size: 14px;
                            padding: 0;
                        }
                    }
                }

                .owl-dots {
                    text-align: center;
                    margin-top: 20px;

                    .owl-dot {
                        width: 12px;
                        height: 12px;
                        margin: 0 3px;
                        @include border-radius(50%);
                    }
                }
            }
        }
    }
}
