<div class="color-doc">
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-4">
            <div class="item color-blue">
                <span class="name">BLUE</span>
                <span class="color-code">#0078d4</span>
                <span class="class">color-blue</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="item color-red">
                <span class="name">RED</span>
                <span class="color-code">#da4453</span>
                <span class="class">color-red</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="item color-yellow">
                <span class="name">YELLOW</span>
                <span class="color-code">#f6b225</span>
                <span class="class">color-yellow</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="item color-green">
                <span class="name">GREEN</span>
                <span class="color-code">#009688</span>
                <span class="class">color-green</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="item color-purple">
                <span class="name">PURPLE</span>
                <span class="color-code">#a7296a</span>
                <span class="class">color-purple</span>
            </div>
        </div>
    </div>
    <br />

    <h3>Themes</h3>
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-4">
            <div class="item dark-theme">
                <span class="name">DARK THEME</span>
                <span class="color-code">#252d3a</span>
                <span class="class">theme-dark</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="item light-theme">
                <span class="name">LIGHT THEME</span>
                <span class="color-code">#fff</span>
                <span class="class">theme-light</span>
            </div>
        </div>
    </div>
</div>