<div class="form-group has-feedback">
    <input type="text" class="form-control input-sm js-searchbox" placeholder="Search in list..." required>
    <span class="glyphicon glyphicon-search form-control-feedback"></span>
</div>

<div class="js-treeview">
    <ul>
        <li data-jstree='{"opened":true}'>
            assets
            <ul>
                <li data-jstree='{"opened":true}'>
                    css
                    <ul>
                        <li data-jstree='{"opened":false}'>
                            bg-types
                            <ul>
                                <li data-jstree='{"type":"css"}'>bg-color.css</li>
                                <li data-jstree='{"type":"css"}'>bg-color.min.css</li>
                                <li data-jstree='{"type":"css"}'>bg-particles.css</li>
                                <li data-jstree='{"type":"css"}'>bg-particles.min.css</li>
                                <li data-jstree='{"type":"css"}'>bg-video.css</li>
                                <li data-jstree='{"type":"css"}'>bg-video.min.css</li>
                            </ul>
                        </li>
                        <li data-jstree='{"opened":false}'>
                            colors
                            <ul>
                                <li data-jstree='{"type":"css"}'>all.css</li>
                                <li data-jstree='{"type":"css"}'>all.min.css</li>
                                <li data-jstree='{"type":"css"}'>color-blue.css</li>
                                <li data-jstree='{"type":"css"}'>color-blue.min.css</li>
                                <li data-jstree='{"type":"css"}'>color-green.css</li>
                                <li data-jstree='{"type":"css"}'>color-green.min.css</li>
                                <li data-jstree='{"type":"css"}'>color-purple.css</li>
                                <li data-jstree='{"type":"css"}'>color-purple.min.css</li>
                                <li data-jstree='{"type":"css"}'>color-red.css</li>
                                <li data-jstree='{"type":"css"}'>color-red.min.css</li>
                                <li data-jstree='{"type":"css"}'>color-yellow.css</li>
                                <li data-jstree='{"type":"css"}'>color-yellow.min.css</li>
                            </ul>
                        </li>
                        <li data-jstree='{"opened":false}'>
                            themes
                            <ul>
                                <li data-jstree='{"type":"css"}'>all.css</li>
                                <li data-jstree='{"type":"css"}'>all.min.css</li>
                                <li data-jstree='{"type":"css"}'>theme-dark.css</li>
                                <li data-jstree='{"type":"css"}'>theme-dark.min.css</li>
                                <li data-jstree='{"type":"css"}'>theme-light.css</li>
                                <li data-jstree='{"type":"css"}'>theme-light.min.css</li>
                            </ul>
                        </li>
                        <li data-jstree='{"type":"css"}'>demo.css</li>
                        <li data-jstree='{"type":"css"}'>demo.min.css</li>
                        <li data-jstree='{"type":"css"}'>style.css</li>
                        <li data-jstree='{"type":"css"}'>style.min.css</li>
                    </ul>
                </li>
                <li>
                    images
                    <ul>
                        <li data-jstree='{"opened":false}'>
                            avatars
                            <ul>
                                <li data-jstree='{"type":"img"}'>face1.jpg</li>
                                <li data-jstree='{"type":"img"}'>face2.jpg</li>
                                <li data-jstree='{"type":"img"}'>face3.jpg</li>
                            </ul>
                        </li>
                        <li data-jstree='{"opened":false}'>
                            blog
                            <ul>
                                <li data-jstree='{"type":"img"}'>blog_1.jpg</li>
                                <li data-jstree='{"type":"img"}'>blog_2.jpg</li>
                                <li data-jstree='{"type":"img"}'>blog_3.jpg</li>
                            </ul>
                        </li>
                        <li data-jstree='{"opened":false}'>
                            portfolio
                            <ul>
                                <li data-jstree='{"opened":false}'>
                                    design
                                    <ul>
                                        <li data-jstree='{"type":"img"}'>design_1.jpg</li>
                                        <li data-jstree='{"type":"img"}'>design_2.jpg</li>
                                        <li data-jstree='{"type":"img"}'>design_3.jpg</li>
                                    </ul>
                                </li>
                                <li data-jstree='{"opened":false}'>
                                    music
                                    <ul>
                                        <li data-jstree='{"type":"img"}'>music_1.jpg</li>
                                        <li data-jstree='{"type":"img"}'>music_2.jpg</li>
                                    </ul>
                                </li>
                                <li data-jstree='{"opened":false}'>
                                    photo
                                    <ul>
                                        <li data-jstree='{"type":"img"}'>photo_1.jpg</li>
                                        <li data-jstree='{"type":"img"}'>photo_2.jpg</li>
                                    </ul>
                                </li>
                                <li data-jstree='{"opened":false}'>
                                    video
                                    <ul>
                                        <li data-jstree='{"type":"img"}'>video_1.jpg</li>
                                        <li data-jstree='{"type":"img"}'>video_2.jpg</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li data-jstree='{"type":"img"}'>main_bg.jpg</li>
                    </ul>
                </li>
                <li>
                    js
                    <ul>
                        <li data-jstree='{"type":"js"}'>bg-particles.js</li>
                        <li data-jstree='{"type":"js"}'>bg-video.js</li>
                        <li data-jstree='{"type":"js"}'>demo.js</li>
                        <li data-jstree='{"type":"js"}'>masonry-filter.js</li>
                        <li data-jstree='{"type":"js"}'>script.js</li>
                    </ul>
                </li>
                <li data-jstree='{"opened":false}'>
                    scss
                    <ul>
                        <li>
                            bg-types
                            <ul>
                                <li data-jstree='{"type":"scss"}'>_bg-color-variables.scss</li>
                                <li data-jstree='{"type":"scss"}'>bg-color.scss</li>
                                <li data-jstree='{"type":"scss"}'>bg-particles.scss</li>
                                <li data-jstree='{"type":"scss"}'>bg-video.scss</li>
                            </ul>
                        </li>
                        <li>
                            colors
                            <ul>
                                <li data-jstree='{"type":"scss"}'>all.scss</li>
                                <li data-jstree='{"type":"scss"}'>color-blue.scss</li>
                                <li data-jstree='{"type":"scss"}'>color-green.scss</li>
                                <li data-jstree='{"type":"scss"}'>color-purple.scss</li>
                                <li data-jstree='{"type":"scss"}'>color-red.scss</li>
                                <li data-jstree='{"type":"scss"}'>color-yellow.scss</li>
                            </ul>
                        </li>
                        <li>
                            themes
                            <ul>
                                <li data-jstree='{"type":"scss"}'>_theme-dark-variables.scss</li>
                                <li data-jstree='{"type":"scss"}'>_theme-light-variables.scss</li>
                                <li data-jstree='{"type":"scss"}'>all.scss</li>
                                <li data-jstree='{"type":"scss"}'>theme-dark.scss</li>
                                <li data-jstree='{"type":"scss"}'>theme-light.scss</li>
                            </ul>
                        </li>
                        <li data-jstree='{"type":"scss"}'>_about.scss</li>
                        <li data-jstree='{"type":"scss"}'>_animations.scss</li>
                        <li data-jstree='{"type":"scss"}'>_blog.scss</li>
                        <li data-jstree='{"type":"scss"}'>_common.scss</li>
                        <li data-jstree='{"type":"scss"}'>_contacts.scss</li>
                        <li data-jstree='{"type":"scss"}'>_header.scss</li>
                        <li data-jstree='{"type":"scss"}'>_home.scss</li>
                        <li data-jstree='{"type":"scss"}'>_medias.scss</li>
                        <li data-jstree='{"type":"scss"}'>_mixins.scss</li>
                        <li data-jstree='{"type":"scss"}'>_portfolio.scss</li>
                        <li data-jstree='{"type":"scss"}'>_resume.scss</li>
                        <li data-jstree='{"type":"scss"}'>demo.scss</li>
                        <li data-jstree='{"type":"scss"}'>style.scss</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            documents
            <ul>
                <li>
                    css
                    <ul>
                        <li data-jstree='{"type":"css"}'>documentation.css</li>
                        <li data-jstree='{"type":"css"}'>documentation.min.css</li>
                    </ul>
                </li>
                <li>
                    js
                    <ul>
                        <li data-jstree='{"type":"js"}'>angular.min.js</li>
                        <li data-jstree='{"type":"js"}'>angular-route.min.js</li>
                        <li data-jstree='{"type":"js"}'>app.js</li>
                    </ul>
                </li>
                <li data-jstree='{"opened":false}'>
                    lib
                    <ul>
                        <li data-jstree='{"opened":false}'>angular-route</li>
                        <li data-jstree='{"opened":false}'>angularjs</li>
                        <li data-jstree='{"opened":false}'>bootstrap</li>
                        <li data-jstree='{"opened":false}'>font-awesome</li>
                        <li data-jstree='{"opened":false}'>jquery</li>
                        <li data-jstree='{"opened":false}'>jstree</li>
                    </ul>
                </li>
                <li data-jstree='{"opened":false}'>
                    scss
                    <ul>
                        <li data-jstree='{"type":"scss"}'>documentation.scss</li>
                    </ul>
                </li>
                <li>
                    template
                    <ul>
                        <li data-jstree='{"type":"html"}'>browser-support.html</li>
                        <li data-jstree='{"type":"html"}'>colors.html</li>
                    </ul>
                </li>
                <li data-jstree='{"type":"html"}'>index.html</li>
            </ul>
        </li>
        <li>
            grunt
            <ul>
                <li data-jstree='{"type":"js"}'>Gruntfile.js</li>
                <li data-jstree='{"type":"json"}'>package.json</li>
            </ul>
        </li>
        <li>
            gulp
            <ul>
                <li data-jstree='{"type":"js"}'>gulpfile.js</li>
                <li data-jstree='{"type":"json"}'>package.json</li>
            </ul>
        </li>
        <li data-jstree='{"opened":false}'>
            node_modules
            <ul>
                <li data-jstree='{"opened":false}'>.bin</li>
                <li data-jstree='{"opened":false}'>abbrev</li>
                <li data-jstree='{"opened":false}'>ajv</li>
                <li data-jstree='{"opened":false}'>amdefine</li>
                <li data-jstree='{"opened":false}'>animate.css</li>
                <li data-jstree='{"opened":false}'>ansi-color</li>
            </ul>
        </li>
        <li data-jstree='{"type":"html"}'>bg-color.html</li>
        <li data-jstree='{"type":"html"}'>bg-particles.html</li>
        <li data-jstree='{"type":"html"}'>bg-video.html</li>
        <li data-jstree='{"type":"img"}'>favicon.ico</li>
        <li data-jstree='{"type":"html"}'>index.html</li>
        <li data-jstree='{"type":"json"}'>package.json</li>
    </ul>
</div>

<label class="label label-warning">Doesn't contains all files inside the folders</label>