<p>You can find this options on <b>assets/js/script.js</b> file.</p>
<pre>
    $.sp.options = {
        pages: {
            "#home": { title: "Home", in: null, out: null },
            "#about": { title: "About Me", in: "animated fadeInDown", out: "animated fadeOutDown" },
            "#resume": { title: "Resume", in: "animated fadeInDown", out: "animated fadeOutDown" },
            "#portfolio": { title: "Portfolio", in: "animated fadeInDown", out: "animated fadeOutDown" },
            "#blog": { title: "Blog", in: "animated fadeInDown", out: "animated fadeOutDown" },
            "#contacts": { title: "Contacts", in: "animated fadeInDown", out: "animated fadeOutDown" }
        }
    };
</pre>